/* @import url('@ya.praktikum/react-developer-burger-ui-components'); */

.burger_components {
  margin-top: 20px;
  max-width: 600px;
}

.toggle_ingredients {
  display: flex;
  align-items: center;
}

.toggle {
  width: 200px;
  height: 56px;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
  span {
    font-weight: 400;
    font-size: 16px;
    color: #8585ad;
  }
}
.toggle__active {
  composes: toggle;
  border-bottom: 1px solid #4c4cff;

  span {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
}

/*ingredients*/

.burger__ingredients {
  margin-top: 40px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #6969dd, #e0e0e0;
  scrollbar-width: thin;
}

.title__ingredients {
  margin-top: 40px;
  display: flex;
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
  }
}

.ingredients__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.ingredients {
  margin-top: 24px;
  width: 272px;
  height: 208px;
  text-align: center;
  position: relative;
  cursor: pointer;

  p {
    font-family: 'Jet Brains Mono';
    text-align: center;
    justify-content: center;
    display: flex;
    color: #fff;
  }

  svg {
    margin-left: 8px;
  }

  .ingredients__footer {
    margin-top: 3px;
    width: 100%;
  }
}
